<!DOCTYPE html><html><head>

    <script src="packages/polymerjs/components/iron-test-helpers/mock-interactions.js"></script>
    <script src="packages/polymerjs/components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="packages/polymerjs/components/polymer/polymer.html">
    <link rel="import" href="packages/polymerjs/components/iron-collapse/iron-collapse.html">

    <script src="packages/test/dart.js"></script>
    <link rel="x-dart-test" href="iron_collapse_test.dart">
  </head>
  <body>
    <iron-collapse id="collapse" opened="">
      <div>
        Forma temperiemque cornua sidera dissociata cornua recessit innabilis ligavit: solidumque coeptis nullus caelum sponte phoebe di regat mentisque tanta austro capacius amphitrite sui quin postquam semina fossae liquidum umor galeae coeptis caligine liberioris quin liquidum matutinis invasit posset: flexi glomeravit radiis certis invasit oppida postquam onerosior inclusum dominari opifex terris pace finxit quam aquae nunc sine altae auroram quam habentem homo totidemque scythiam in pondus ensis tegit caecoque poena lapidosos humanas coeperunt poena aetas totidem nec natura aethera locavit caelumque distinxit animalibus phoebe cingebant moderantum porrexerat terrae possedit sua sole diu summaque obliquis melioris orbem
      </div>
    </iron-collapse>
  
</body></html>