<!DOCTYPE html><html><head>

    <script src="packages/polymerjs/components/iron-test-helpers/mock-interactions.js"></script>
    <script src="packages/polymerjs/components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="packages/polymerjs/components/polymer/polymer.html">
    <link rel="import" href="packages/polymerjs/components/iron-autogrow-textarea/iron-autogrow-textarea.html">

    <script src="packages/test/dart.js"></script>
    <link rel="x-dart-test" href="iron_autogrow_textarea_test.dart">

  </head>
  <body>

    <iron-autogrow-textarea id="basic"></iron-autogrow-textarea>

    <iron-autogrow-textarea id="has-bindValue" bind-value="foobar"></iron-autogrow-textarea>

    <iron-autogrow-textarea id="rows" rows="3"></iron-autogrow-textarea>

  

</body></html>